@font-face {
    font-family: 'SourceSansPro';
    src: url('../fonts/SourceSansPro-Regular.otf') format('opentype');
}
.row {
    margin: 0;
}

.header {
    border-bottom: 1px solid #E6EAEE;
    height: 55px;
    align-items: center;
}

.title {
    padding-left: 3%;
}

.user_img {
    height: 50px;
    width: 50px;
    border: 1.5px solid #f5f6fa;
}

.user_img_msg {
    height: 40px;
    width: 40px;
    border: 1.5px solid #f5f6fa;
}

.img_cont {
    position: relative;
    height: 50px;
    width: 50px;
}

.img_cont_msg {
    height: 40px;
    width: 40px;
}

.online {
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: #4cd137;
    border-radius: 50%;
    bottom: 0;
    right: 0.1em;
    border: 1.5px solid white;
}


.user_info {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
}

    .user_info span {
        font-size: 16px;
        color: black;
        font-weight: 600;
        font-family: 'SourceSansPro';
    }

    .user_info p {
        font-size: 14px;
        color: #7F8FA4;
        font-family: 'SourceSansPro';
    }

.dropdown-toggle::after {
    margin-left: 2em;
    margin-top: 20px;
}

.dropdown-menu {
    /*top: 55px !important;*/
    left: 50px !important;
}
/*end header*/

/*begin content*/
.content {
    height: 580px;
}

.content-left {
    max-width: 27%;
    flex: 0 0 27%;
    border-right: 1px solid #E6EAEE;
    padding: 0;
}

.content-right {
    max-width: 73%;
    flex: 0 0 73%;
    padding: 0;
}

.fa-circle {
    color: #4cd137;
    font-size: 12px;
}

.content-title {
    height: 70px !important;
    align-items: center;
    display: flex;
    border-bottom: 1px solid #E6EAEE;
}

.box-item {
    border-bottom: 1px solid #E6EAEE;
    padding-left: 10%;
    height: 75px;
    align-items: center;
    display: flex;
    cursor: pointer;
}

.list-contacts .box-item:hover {
    background: #f3f3f3
}

.box-item p {
    margin: 0;
}

.box-search {
    height: 60px;
}

input.search {
    width: 88% !important;
}

.active {
    border-left: 7px solid #2399F1;
    padding-left: 8%;
}

    .active .user-name {
        color: #2399F1;
    }

.time {
    margin: auto !important;
    text-align: right;
    font-size: 12px;
    float: right;
    text-align: right;
    width: 20%;
}

.user_info {
    width: 55%;
}

.list-contacts {
    height: 440px;
    overflow-x: hidden;
    overflow-y: auto;
}

    .list-contacts::-webkit-scrollbar, .list-messages::-webkit-scrollbar {
        position: absolute;
        width: 5px;
    }

    /* Track */
    .list-contacts::-webkit-scrollbar-track, .list-messages::-webkit-scrollbar-track {
        box-shadow: inset 0 0 1px grey;
        border-radius: 10px;
    }

    /* Handle */
    .list-contacts::-webkit-scrollbar-thumb, .list-messages::-webkit-scrollbar-thumb {
        background: #cccccc;
        border-radius: 10px;
    }

        /* Handle on hover */
        .list-contacts::-webkit-scrollbar-thumb:hover, .list-messages::-webkit-scrollbar-thumb:hover {
            background: #6b6b6b;
        }

.chat-header {
    padding-left: 9%;
    padding-right: 2%;
}
.user-active {
    font-family: 'SourceSansPro';
    font-size: 18px;
    color: black;
    font-weight: 600;
}

.list-messages {
    height: 450px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 1% 8%;
}

.ad .msg-user {
    margin-left: 17%;
}
.ad small{
    float: right;
}
.message .user-name {
    font-size: 16px;
    color: black;
    font-weight: 600;
    font-family: 'SourceSansPro';
}
.msg-content {
    font-size: 14px;
    color: #354052;
    font-family: 'SourceSansPro';
    border-radius: 12px;
    padding: 1% 2%;
    display: table;
    margin-bottom: 5px;
}
.cl .msg-content {
    background: #e4e4e4;
    border-top-left-radius: 0;
}
.ad .msg-content {
    background: linear-gradient(90deg, #5DA2F1 0%, #4975E5 100%);
    color: #f1efef;
    border-top-right-radius: 0;
    float: right;
    clear: both;
}
.box-group {
    padding: 0 10%;
}
    .box-group textarea {
        height: 40px;
        border-radius: 10px;
        overflow: hidden;
        outline-style: none !important;
    }
    .space {
        margin-top: 1%;
        margin-bottom: 1%;
    }
.dash {
    height: 1px;
    background: #cac4c4;
    width: 40%;
    margin: auto;
}
.date{
    margin: auto;
}
@media only screen and (max-width: 1000px) {
    .content-left{
        max-width: 10%;
        flex: 0 0 10%;
    }
    .content-right {
        max-width: 90%;
        flex: 0 0 90%;
    }
    .img_cont{
        margin: auto
    }
    .box-search, .box-item .user_info, .box-item .time {
        display: none;
    }
    .total-contact span{
        display: none;
    }
    .list-contacts::-webkit-scrollbar, .list-messages::-webkit-scrollbar {
        width: 5px;
    }
}
@media only screen and (max-width: 635px) {
    .content-left{
        max-width: 15%;
        flex: 0 0 15%;
    }
    .content-right {
        max-width: 85%;
        flex: 0 0 85%;
    }
}