@{
    ViewBag.Title = "Trang chủ";
}
@section css{
    <link href="~/Content/chatbox.css" rel="stylesheet" />
}
<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>

<div class="row">
    @*<div class="login">
            <div>
                Vui lòng nhập Email:<br />
                <input id="txtEmail" type="text" />
            </div>
            <div id="divButton">
                <input id="btn-StartChat" type="button" class="" value="Bắt đầu" />
            </div>
        </div>*@
    <div class="chatbox chatbox-tray">
        <div class="chatbox-title">
            <a href="javascript:;">Trò chuyện trực tuyến</a>
            <button class="chatbox-close"><i class="fas fa-times"></i></button>
        </div>
        <form class="customer-info">
            <input type="email" placeholder="Email" required />
            <button id="btnCus" type="submit" value="submit">Bắt đầu</button>
        </form>
        <div class="chatbox-body">
            <div class="chatbox-body-msg chatbox-body-msg-left">
                <img src="~/Imgs/avatar3.png" />
                <ul class="text-left">
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                </ul>
            </div>
            <div class="chatbox-body-msg chatbox-body-msg-right">
                <ul class="text-right">
                    <li>Hi  </li>
                </ul>
                <img src="~/Imgs/avatar5.png" />
            </div>
            <div class="chatbox-body-msg chatbox-body-msg-left">
                <img src="~/Imgs/avatar3.png" />
                <ul class="text-left">
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                </ul>
            </div>
            <div class="chatbox-body-msg chatbox-body-msg-right">
                <ul class="text-right">
                    <li>Hi  </li>
                </ul>
                <img src="~/Imgs/avatar5.png" />
            </div>
            <div class="chatbox-body-msg chatbox-body-msg-left">
                <img src="~/Imgs/avatar3.png" />
                <ul class="text-left">
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                </ul>
            </div>
            <div class="chatbox-body-msg chatbox-body-msg-right">
                <ul class="text-right">
                    <li>Hi  </li>
                </ul>
                <img src="~/Imgs/avatar5.png" />
            </div>
            <div class="chatbox-body-msg chatbox-body-msg-left">
                <img src="~/Imgs/avatar3.png" />
                <ul class="text-left">
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                </ul>
            </div>
            <div class="chatbox-body-msg chatbox-body-msg-right">
                <ul class="text-right">
                    <li>Hi  </li>
                </ul>
                <img src="~/Imgs/avatar5.png" />
            </div>
            <div class="chatbox-body-msg chatbox-body-msg-left">
                <img src="~/Imgs/avatar3.png" />
                <ul class="text-left">
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                </ul>
            </div>
            <div class="chatbox-body-msg chatbox-body-msg-right">
                <ul class="text-right">
                    <li>Hi  </li>
                </ul>
                <img src="~/Imgs/avatar5.png" />
            </div>
            <div class="chatbox-body-msg chatbox-body-msg-left">
                <img src="~/Imgs/avatar3.png" />
                <ul class="text-left">
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                </ul>
            </div>
            <div class="chatbox-body-msg chatbox-body-msg-right">
                <ul class="text-right">
                    <li>Hi  </li>
                </ul>
                <img src="~/Imgs/avatar5.png" />
            </div>
        </div>
        <div class="chatbox-footer">
            <div class="chatbox-footer-content">
                <textarea type="text" name="name" placeholder="Nhập tin nhắn..." value=""></textarea>
                <input type="hidden" name="name" id="displayEmail" value="" />
                <button id="btn-Send"><i class="fas fa-location-arrow"></i></button>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/jquery.signalR-2.2.2.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/chatbox.js"></script>
}