
@{
    ViewBag.Title = "ManageChat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{
    <link href="~/Content/ManageChat.css" rel="stylesheet" />
} <br />
<div class="row mt-5 container manage">
    <div class="col-4 left p-0">
        <h4 class="pl-5">Admin</h4>
        <hr />
        <ul class="list-unstyled">
            <li class="contact active">
                <input type="hidden" name="connectionId" value="id" />
                <div class="wrap row">
                    <div class="col-2 contact-status">
                        <span class="online"></span>
                    </div>
                    <div class="col-10 meta">
                        <p class="name">Tran Dat</p>
                        <small class="preview">hello</small>
                    </div>
                </div>
            </li>
            <li class="contact">
                <div class="wrap row">
                    <div class="col-2 contact-status">
                        <span class="offline"></span>
                    </div>
                    <div class="col-10 meta">
                        <p class="name">Thanh Long</p>
                        <small class="preview">hello</small>
                    </div>
                </div>
            </li>
            <li class="contact">
                <div class="wrap row">
                    <div class="col-2 contact-status">
                        <span class="online"></span>
                    </div>
                    <div class="col-10 meta">
                        <p class="name">Nguyen</p>
                        <small class="preview">hello</small>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-8 right chat">
        <h4 class="text-center" id="name-chat">Tran dat</h4>
        <hr />
        <ul class="list-unstyled list-msg">
            @*<li class="cy">
                    <div class="msg_cotainer">
                        Hi, how are you samim?
                        <span class="msg_time">8:40 AM, Today</span>
                    </div>
                </li>
                <li class="cm">
                    <div class="msg_cotainer">
                        Hi, how are you samim?
                        <span class="msg_time">8:40 AM, Today</span>
                    </div>
                </li>*@
        </ul>
        <div class="row input-group w-100 ml-0">
            <textarea placeholder="Nhập nội dung tin nhắn..."></textarea>
            <button class="send"><i class="fas fa-paper-plane"></i></button>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/manageChat.js"></script>
    <script src="~/Scripts/managechathub.js"></script>
}
