@model IEnumerable<ChatBox.ViewModel.UserViewModel>
@{
    ViewBag.Title = "ManageChat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{
    <link href="~/Content/ManageChat.css" rel="stylesheet" />
} <br />
<div class="row container manage">
    <div class="col-4 left p-0">
        <h4 class="pl-5">Admin</h4>
        <hr />
        <ul class="list-unstyled listUser">
            @foreach (var item in Model)
            {
                <li class="contact">
                    <input type="hidden" name="connectionId" value="@item.ConnectionId" />
                    <div class="wrap row">
                        <div class="col-2 contact-status">
                            @if (item.IsOnline == true)
                            {
                                <span class="online"></span>
                            }
                            else
                            {
                                <span class="offline"></span>
                            }
                        </div>
                        <div class="col-10 meta">
                            <p class="name">@item.Email</p>
                            <small class="preview">@item.LastMsg</small>
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
    <div class="col-8 right chat">
        <h4 class="text-center" id="name-chat"></h4>
        <input type="hidden" name="connectionIdActive" value="" />
        <hr />
        <ul class="list-unstyled list-msg"></ul>
        <div class="row input-group w-100 ml-0 d-none">
            <textarea placeholder="Nhập nội dung tin nhắn..."></textarea>
            <button class="send"><i class="fas fa-paper-plane"></i></button>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/manageChat.js"></script>
    <script src="~/Scripts/managechathub.js"></script>
}
